.post {
    text-align: center;
    background-color: cornsilk;
    padding: 20px ;
    width: 33%;
}

.post .date {
    text-align: right;
    color: darkblue;
}
.post a{
    color: black;
    text-decoration: none;
    width: 20%;
    background-color: chartreuse;
}
